{% extends "base.html" %}

{% block content %}
<h1> PRODUCT DELETION PAGE. </h1>
{% endblock %}

{% block content1 %}
    <form action = "." method = "POST"> {% csrf_token %}
        <h2>
            Do you want to delete the product "{{ object.title }}"
        </h2>

        <p>
            <input type = "submit" value = "Yes"/>
            <!--<a href = "/product/">-->
            <a href =" {%url 'main_product:product_list' %}}">
                <button>Cancel</button>
            </a>
        </p>
    </form>
{% endblock %}